{% extends "base.html" %}
{% block login %}
  <a href="/login" class="btn btn-outline-primary">Войти</a>
{% endblock%}
{% block content %}
<section class="mx-auto sign">
    <form action="#" method="post">
        <div class="mb-3 row">
            <label for="inputUserName" class="col-sm-2 col-form-label">Логин:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputUserName" name="username" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputName" class="col-sm-2 col-form-label">Имя:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName" name="name" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputSurname" class="col-sm-2 col-form-label">Фамилия:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputSurname" name="surname" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" name="email" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputProfession" class="col-sm-2 col-form-label">Профессия:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputProfession" name="profession">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputCity" class="col-sm-2 col-form-label">Город:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="inputCity" name="city">
            </div>
            <label for="inputAge" class="col-sm-1 col-form-label me-4 ms-auto">Возраст:</label>
            <div class="col-sm-2">
              <input type="number" class="form-control" id="inputAge" name="age">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Пароль:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" name="password" required>
            </div>
        </div>
        <button type="submit" class="btn btn-success w-100 sign__btn">Зарегистрироваться</button>
    </form>
</section>
{% endblock %}